
<div class="page-header">
  <h1 class="bc-title">网站设置</h1>
</div>

<%= form_tag("/manager/editsettings", method: "post", class: "form-horizontal bc-body-content") do |f| %>
    <% @configs.each do |config| %>
    <div class="form-group">
        <label for="input<%= config.sc_key %>" class="col-sm-3 control-label"><%= config.sc_note %></label>
        <div class="col-sm-8">
            <textarea class="form-control" name="configs[<%= config.sc_key %>]" id="input<%= config.sc_key %>"><%= config.sc_value %></textarea>
        </div>
    </div>
    <% end %>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
        <button type="submit" class="btn btn-primary btn-block">保存</button>
        </div>
    </div>
<% end %>