
<div class="page-header">
    <h2 class="bc-title"><%= @article.title %></h2>
    <span><%= @article.views %>人围观 &nbsp; 发表于<%= @article.created_at.localtime.to_s(:db) %>  <%= if has_auth
    link_to '编辑', edit_article_path(@article) end %></span>
</div>
<div class="bc-body-content row">
  <% unless @article.title=='归档' %>
      <%= raw @article.text %>
  <% else %>
      <% all_articles = select_all_articles %>
      <table class="table table-striped">
        <tbody><tr>
          <th>#</th>
          <th>Title</th>
        </tr>
        <% all_articles.each do |article| %>
            <tr>
              <td><%= article.id %></td>
              <td><a href="/articles/<%= article.id %>"><%= article.title %></a></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>
<div>
<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="<%= @article.id %>" data-title="<%= @article.title %>" data-url="<%= get_host %><%= article_path(@article) %>"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"liubaicai"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] 
                || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
<!-- 多说公共JS代码 end -->
</div>