
<div class="page-header">
  <h1 class="bc-title">新链接</h1>
</div>

<div class="bc-body-content row">
  <%= form_for :link, url: links_path do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title,class: "form-control" %>
    </p>
    <p>
      <%= f.label :url %><br>
      <%= f.text_field :url,class: "form-control" %>
    </p>
    <p>
      <%= f.label :sort %><br>
      <%= f.text_field :sort,class: "form-control" %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
